﻿body {
}* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #364347;
  line-height: 150%;
}
main {
  width: 100%;
  padding: 15px;
  text-align: center;
}
img {
  width: 100%;
}
h1 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
p {
  font-size: 14px;
}

